@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #cbf8cb;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 15px;
  background-color: #dffadf;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 75%;
  padding: 10px;
}
nav img {
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  display: flex;
}
// a:active {
//   color: gold;
// }
a:hover {
  color: gold;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
}
li a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 10px;
  color: black;
  text-transform: uppercase;
}
.sect-1 {
  padding: 20px;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-1 h1 {
  color: blue;
  padding: 10px;
}
.sect-1 p {
  padding: 10px;
}
.intro {
  width: 100%;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.intro img {
  width: 75%;
  align-self: center;
  justify-self: center;
  height: 500px;
}
// .greet-div {
//   position: relative;
// }
// .greet {
//   // display: flex;
//   color: navy;
//   background-color: white;
//   font-weight: 700;
//   font-size: 1.5rem;
//   line-height: 2.5rem;
//   width: 300px;
//   height: 212px;
//   position: absolute;
//   right: 46.7rem;
//   top: 0.5rem;
//   padding: 10px;
//   z-index: 1;
// }
// .greet-a {
//   // margin-top: 20px;
//   // padding: 20px;
//   // font-size: .7rem;
//   // background-color: navy;
//   //     color: white;
//   position: absolute;
//   top: 13.7rem;
//   right: 57rem;
//   z-index: 2;
//   width: 133px;
//   padding: 10px;
//   background-color: navy;
//   text-align: center;
// }
// .greet-a a {
//   color: white;
//   background-color: navy;
// }
// SECTION 2 STYLE

.sect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sect-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 20px;
}
figure {
  display: flex;
  width: 75%;
  height: 400px;
  // padding: 20px;
  gap: 5rem;
  // align-items: center;
  justify-content: space-between;
}
.about {
  width: 47%;
  align-items: center;
  justify-content: center;
}
.about h1 {
  font-size: 1.5rem;
  border-top: 3px solid #dffadf;
  padding: 30px 0px;
}
.about p {
  font-size: 0.8rem;
  line-height: 2;
  padding-bottom: 30px;
}
.port {
  // border: 1px solid navy;
  // padding-top: 5px;
  font-size: 0.7rem;
  width: 40%;
  height: 40px;
  text-align: center;
}
.port button {
  border: 1px solid rgb(37, 233, 213);
  color: rgb(37, 233, 213);
  width: 100%;
  height: 40px;
  background-color: #dffadf;
  border-radius: 5%;
}
.port-line {
  border-bottom: 3px solid #dffadf;
  height: 50px;
  padding-bottom: 50px;
}

// SECTION 3 STYLE
.sect-33 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-3 {
  display: flex;
  width: 75%;
  height: 200px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  // padding-top: 50px;
}
.proj p {
  font-size: 1.5rem;
}
.line {
  align-items: center;
  justify-content: center;
  height: 4px;
  width: 50%;
  // color: #dffadf;
  // padding-top: 30px;
  background-color: #dffadf;
}
.contact {
  display: flex;
  // border: 1px solid navy;
  height: 55px;
  width: 20%;
  align-items: center;
  justify-content: center;
  // text-align: center;
}
.contact button {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(37, 233, 213);
  color: rgb(37, 233, 213);
  background-color: #dffadf;
  border-radius: 5%;
  text-transform: uppercase;
}
.contact a {
  width: 100%;
}
// .contact a:hover {
//   color: gold;
// }
// FOOTER STYLE
footer {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
  justify-content: center;
  padding: 15px;
  background-color: #dffadf;
}
.footer-nav {
  display: flex;
  height: 80px;
  width: 75%;
  align-items: center;
  justify-content: space-between;
}
.footer-nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
  width: 100%;
  // color: rgb(37, 233, 213);
}
.links a:hover {
  color: gold;
}
.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
}
.icons {
  color: black;
  display: flex;
  font-size: 1rem;
  gap: 30px;
}
i {
  color: 2rem;
}
.footer-img {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 100%;
}

// Project Style
// SECTION 2 STYLING

.sect-port {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-port div {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 20px;
  padding: 20px;
  // align-items: center;
  justify-content: center;
  border-bottom: 3px solid #dffadf;
}
.sect-art {
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect2 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  height: 800px;
  gap: 20px;
}
.sect-22 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.rain {
  width: 30%;
  height: 100%;
  padding: 10px;
  border-right: 3px solid #dffadf;
}
.rain p {
  font-size: 4rem;
  line-height: 2;
}
.art {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: center;
  // align-items: center;
}
.art img {
  width: 100%;
  height: 300px;
}
// .art img:hover {
//   opacity: 1;
// }
.arty {
  display: flex;
}

// CONTACT PAGE STYLE
.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.info {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.contact-form {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
form {
  width: 50%;
  padding: 20px;
}

.form-input {
  border: 1px solid #cbf8cb;
  width: 100%;
  height: 40px;
  border-radius: 4%;
  background-color: #dffadf;
}
#request {
  height: 100px;
}

// RESPONSIVE DESIGN
