* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 15px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 75%;
  padding: 10px;
}
nav img {
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  display: flex;
}
a:active {
  color: aqua;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
}
li a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 10px;
  color: black;
  text-transform: uppercase;
}
.sect-1 {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.intro {
  width: 100%;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.intro img {
  width: 75%;
  align-self: center;
  justify-self: center;
  height: 90%;
}
.greet-div {
  position: relative;
}
.greet {
  // display: flex;
  color: navy;
  background-color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 300px;
  height: 212px;
  position: absolute;
  right: 46.7rem;
  top: 0.5rem;
  padding: 10px;
  z-index: 1;
}
.greet-a {
  // margin-top: 20px;
  // padding: 20px;
  // font-size: .7rem;
  // background-color: navy;
  //     color: white;
  position: absolute;
  top: 13.7rem;
  right: 57rem;
  z-index: 2;
  width: 133px;
  padding: 10px;
  background-color: navy;
  text-align: center;
}
.greet-a a {
  color: white;
  background-color: navy;
}
// SECTION 2 STYLE

.sect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sect-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 20px;
}
figure {
  display: flex;
  width: 75%;
  height: 400px;
  // padding: 20px;
  gap: 5rem;
  // align-items: center;
  justify-content: space-between;
}
.about {
  width: 47%;
  align-items: center;
  justify-content: center;
}
.about h1 {
  font-size: 1.5rem;
  border-top: 1px solid navy;
  padding: 30px 0px;
}
.about p {
  font-size: 0.8rem;
  line-height: 2;
  padding-bottom: 30px;
}
.port {
  border: 1px solid navy;
  padding-top: 5px;
  font-size: 0.7rem;
  width: 40%;
  height: 40px;
  text-align: center;
}
.port-line {
  border-bottom: 1px solid navy;
  height: 50px;
  padding-bottom: 50px;
}
// figure img {
//   width: 40%;
//   height: 435px;
//   padding-left: 20px;
//   align-items: center;
//   justify-content: center;
// }

// SECTION 3 STYLE
.sect-33 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-3 {
  display: flex;
  width: 75%;
  height: 200px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  // padding-top: 50px;
}
.proj p {
  font-size: 1.5rem;
}
.line {
  align-items: center;
  justify-content: center;
  height: 2px;
  width: 50%;
  color: navy;
  // padding-top: 30px;
  background-color: navy;
}
.contact {
  display: flex;
  border: 1px solid navy;
  height: 55px;
  width: 200px;
  align-items: center;
  justify-content: center;
  // text-align: center;
}
// FOOTER STYLE
footer {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
  justify-content: center;
  padding: 15px;
  background-color: navy;
}
.footer-nav {
  display: flex;
  height: 80px;
  width: 75%;
  align-items: center;
  justify-content: space-between;
}
.footer-nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.icons {
  color: white;
  display: flex;
  font-size: 1rem;
  gap: 30px;
}
i {
  color: 2rem;
}
.footer-img {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 100%;
}

// .icons{
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;

// }

// Project Style
// SECTION 2 STYLING
.sect2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.sect-22 {
  display: flex;
  width: 75%;
  // padding: 10px;
  // height: 500px;
  gap: 50px;
  // border: 1px solid black;
  // align-items: center;
  justify-content: space-between;
}
.bookmark {
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  height: 400px;
  padding: 10px;
  width: 60%;
  font-size: 0.8rem;
  line-height: 1.8;
}
.bookmark h1 {
  padding: 20px 0px;
  font-size: 2rem;
}
.bookmark p {
  padding: 10px 0px;
}
.background {
  width: 100%;
  font-size: 0.8rem;
  line-height: 2;
}
.background h1 {
  font-size: 1.5rem;
}
.background img {
  width: 100%;
  height: 300px;
}
// .html p a{
//   padding-bottom: 10px;
// }
.visit {
  border: 1px solid navy;
  text-align: center;
  width: 50%;
  height: 40px;
  font-size: 0.7rem;
}
.back-h1 {
  padding-bottom: 20px;
}
.stat {
  padding-top: 30px;
  padding-bottom: 20px;
}
// SECTION 4 STYLING

.sect-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}
.sect4-div {
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 100px;
}
.page-line {
  border-left: 1px solid navy;
  height: 100%;
  width: 20px;
}
.page1,
.page2 {
  padding: 20px;
  color: navy;
}
.page2 {
  text-align: right;
}
