@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #181d27;
  font-family: "Montserrat", sans-serif;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  padding: 15px;
  background-color: #484c55;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 75%;
  padding: 10px;
}

nav img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d3d0cb;
}

nav ul li a {
  color: #d3d0cb;
}

button {
  cursor: pointer;
}

a:hover {
  color: #e2c391;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  color: black;
  text-transform: uppercase;
}

.sect-1 {
  padding: 20px;
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.intro img {
  width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 500px;
}

.sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.sect-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 500px;
  padding: 20px;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 400px;
  gap: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  width: 47%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about h1 {
  font-size: 1.5rem;
  border-top: 3px solid #484c55;
  padding: 30px 0px;
}

.about p {
  font-size: 0.8rem;
  line-height: 2;
  padding-bottom: 30px;
}

.port {
  font-size: 0.7rem;
  width: 40%;
  height: 40px;
  text-align: center;
}

.port button {
  border: 1px solid #484c55;
  color: #484c55;
  width: 100%;
  height: 40px;
  background-color: #627c85;
  border-radius: 5px;
}

.port-line {
  border-bottom: 3px solid #484c55;
  height: 50px;
  padding-bottom: 50px;
}

.sect-33 {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 200px;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proj p {
  font-size: 1.5rem;
}

.line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4px;
  width: 50%;
  background-color: #484c55;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact button {
  width: 100%;
  height: 50px;
  border: 1px solid #484c55;
  color: #484c55;
  background-color: #627c85;
  border-radius: 5px;
  text-transform: uppercase;
}

.contact a {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background-color: #484c55;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 50px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-transform: capitalize;
  width: 100%;
}

.links a:hover,
.icons a:hover {
  color: #e2c391;
}

.links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d3d0cb;
  text-transform: uppercase;
}

.icons {
  color: #d3d0cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  gap: 30px;
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sect-port {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-port div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  gap: 20px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #484c55;
}

.sect-art {
  width: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  height: 800px;
  gap: 20px;
}

.sect-22 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 30px;
}

.rain {
  width: 30%;
  height: 100%;
  padding: 10px;
  border-right: 3px solid #484c55;
}

.rain p {
  font-size: 4rem;
  line-height: 2;
}

.art {
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.art img {
  width: 100%;
  height: 300px;
}

.contact-page {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.info {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 20px;
}

.contact-form {
  width: 75%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

form {
  width: 50%;
  padding: 20px;
}

form button {
  height: 40px;
  border-radius: 5px;
  width: 150px;
  outline: none;
  border: 1px solid #484c55;
  color: white;
  background-color: #627c85;
  font-size: 14px;
}

textarea {
  outline: none;
}

.form-input {
  border: 1px solid #484c55;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #627c85;
}

#request {
  height: 100px;
}

.locate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locate .locate-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locate .locate-div .locate-div1 {
  color: white;
  width: 25%;
  height: 80px;
}

.locate .locate-div .locate-div1 h1,
.locate .locate-div .locate-div1 p {
  padding: 5px;
  font-size: 16px;
}

.locate .locate-div .locate-div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100px;
}

.locate .locate-div .locate-div2 button {
  height: 50px;
  border-radius: 5px;
  width: 200px;
  letter-spacing: 2px;
  padding: 10px;
  outline: none;
  border: 1px solid #484c55;
  color: white;
  background-color: #627c85;
  font-size: 12px;
  text-transform: capitalize;
}

@media screen and (max-width: 640px) {
  header nav img {
    width: 50%;
  }
  header nav ul li {
    font-size: 10px;
  }
  .sect-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 450px;
    padding: 10px;
  }
  .intro {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .intro img {
    width: 75%;
    height: 250px;
  }
  .sect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 400px;
    padding: 10px;
  }
  .sect .sect-2 {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .sect .sect-2 figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    height: 400px;
    gap: 15px;
  }
  .sect .sect-2 figure img {
    width: 40%;
    height: auto;
  }
  .sect .sect-2 figure .about {
    color: white;
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
  }
  .sect .sect-2 figure .about h1 {
    font-size: 16px;
    padding: 10px;
  }
  .sect .sect-2 figure .about p {
    width: 100%;
    font-size: 11px;
    padding: 10px;
  }
  .sect .sect-2 figure .about .port {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 40px;
  }
  .sect .sect-2 figure .about .port button {
    height: 30px;
    width: 110px;
    font-size: 10px;
  }
  .sect-33 {
    height: 150px;
    width: 100%;
  }
  .sect-33 .sect-3 {
    height: 100px;
    width: 75%;
  }
  .sect-33 .sect-3 .proj p {
    padding: 5px;
    font-size: 12px;
  }
  .sect-33 .sect-3 .contact {
    width: 30%;
  }
  .sect-33 .sect-3 .contact button {
    height: 30px;
    width: 110px;
    font-size: 10px;
  }
  footer {
    width: 100%;
  }
  footer .footer-nav {
    width: 75%;
  }
  footer .footer-nav .footer-nav2 {
    font-size: 0.8rem;
    width: 100%;
  }
  footer .footer-nav .footer-nav2 .footer-img {
    width: 20%;
  }
  footer .footer-nav .footer-nav2 .footer-img img {
    width: 40%;
  }
  footer .footer-nav .footer-nav2 .links {
    font-size: 10px;
  }
  footer .footer-nav .footer-nav2 .icons a i {
    font-size: 2px;
  }
  .sect2 {
    height: 400px;
    width: 100%;
  }
  .sect2 .sect-art {
    width: 100%;
    height: 300px;
  }
  .sect2 .sect-art .rain {
    width: 30%;
  }
  .sect2 .sect-art .rain p {
    font-size: 2.5rem;
  }
  .sect2 .sect-art .sect-22 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 70%;
  }
  .sect2 .sect-art .sect-22 .art {
    width: 100%;
    height: 120px;
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 130px;
  }
  .sect2 .sect-art .sect-22 .art img {
    height: 70px;
    width: 100%;
  }
  .sect2 .sect-art .sect-22 .arty img {
    width: 120px;
    height: 90px;
  }
  .contact-page {
    height: 600px;
  }
  .contact-page .contact-form form {
    width: 100%;
  }
  .locate {
    height: 150px;
  }
  .locate .locate-div {
    width: 80%;
  }
  .locate .locate-div .locate-div1 {
    width: 20%;
    height: 70px;
  }
  .locate .locate-div .locate-div1 h1,
  .locate .locate-div .locate-div1 p {
    font-size: 12px;
  }
  .locate .locate-div .line {
    width: 50%;
  }
  .locate .locate-div .locate-div2 {
    height: 70px;
    width: 30%;
  }
  .locate .locate-div .locate-div2 button {
    width: 100%;
    height: 40px;
    font-size: 11px;
    letter-spacing: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  a:hover {
    color: gold;
  }
  header {
    height: 200px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav img {
    width: 50%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    font-size: 12px;
  }
  .sect-1 {
    height: 200px;
  }
  .sect-1 img {
    width: 50%;
    height: 150px;
  }
  .sect {
    height: 400px;
    width: 100%;
  }
  .sect .sect-2 {
    height: 350px;
    width: 100%;
    padding: 0;
  }
  .sect .sect-2 figure {
    width: 100%;
    height: 100%;
  }
  .sect .sect-2 figure img {
    width: 40%;
    height: 95%;
  }
  .sect .sect-2 figure .about h1 {
    font-size: 1rem;
  }
  .sect .sect-2 figure .about p {
    font-size: 8.9px;
  }
  .sect-33 {
    height: 100px;
  }
  .sect-33 .sect-3 {
    height: 70px;
    width: 90%;
  }
  .sect-33 .sect-3 .proj {
    height: 60px;
  }
  .sect-33 .sect-3 .proj p {
    font-size: 10px;
  }
  .sect-33 .sect-3 .line {
    width: 100%;
  }
  .sect-33 .sect-3 .contact {
    width: 100%;
  }
  footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  footer .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 100%;
    height: 80px;
  }
  footer .footer-nav .footer-nav2 {
    width: 100%;
    gap: 3px;
  }
  footer .footer-nav .footer-nav2 .footer-img {
    width: 10%;
    height: 50px;
  }
  footer .footer-nav .footer-nav2 .footer-img img {
    width: 80%;
  }
  footer .footer-nav .footer-nav2 .links {
    font-size: 10px;
    width: 90%;
    height: 50px;
  }
  footer .footer-nav .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30%;
    height: 50px;
    font-size: 14px;
    gap: 10px;
  }
  .sect2 {
    height: 350px;
  }
  .sect2 .sect-art {
    width: 100%;
    height: 300px;
  }
  .sect2 .sect-art .rain {
    width: 30%;
  }
  .sect2 .sect-art .rain p {
    font-size: 1.3rem;
  }
  .sect2 .sect-art .sect-22 {
    height: 100%;
    width: 70%;
    gap: 0;
  }
  .sect2 .sect-art .sect-22 .art {
    width: 100%;
    height: 120px;
    padding: 7px;
    gap: 10px;
  }
  .sect2 .sect-art .sect-22 .art img {
    width: 100%;
    height: 90px;
  }
  .contact-page {
    height: 600px;
  }
  .contact-page .info {
    height: 100px;
    width: 100%;
  }
  .contact-page .info h1,
  .contact-page .info p {
    font-size: 14px;
  }
  .contact-page .contact-form {
    width: 100%;
  }
  .contact-page .contact-form form {
    font-size: 12px;
  }
  .contact-page .contact-form form button {
    font-size: 12px;
  }
  .locate {
    height: 120px;
    width: 100%;
  }
  .locate .locate-div {
    width: 100%;
    padding: 10px;
  }
  .locate .locate-div .locate-div1 {
    height: 80px;
    width: 30%;
  }
  .locate .locate-div .locate-div1 h1,
  .locate .locate-div .locate-div1 p {
    font-size: 12px;
  }
  .locate .locate-div .locate-div2 {
    height: 70px;
    width: 50%;
  }
  .locate .locate-div .locate-div2 button {
    width: 100%;
    height: 40px;
    font-size: 11px;
    letter-spacing: 0;
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */